<div class="four columns">
  <div class="outfit">

    <a href="#" data-id=<%= outfit.id %> data-userId=<%= outfit.user.id %> class="details-outfit">Details</a>
      <h5><%= outfit.name %></h5>

      <ul class="outfit-items">
        <% outfit.clothing_items.each do |clothing_item| %>
          <li><%= attributes_display(clothing_item) %></li>
        <% end %>
      </ul>

  </div>
</div>
