<div class="four columns">
  <div class="outfit">

    <%= link_to "Details", user_outfit_path(outfit.user, outfit), class: "details-outfit" %>
      <h5><%= outfit.name %></h5>

      <ul class="outfit-items">
        <% outfit.clothing_items.each do |clothing_item| %>
          <li><%= attributes_display(clothing_item) %></li>
        <% end %>
      </ul>

  </div>
</div>
