<script id="outfit-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="three columns">
      {{#if previousId}}
        <button type="button" class="outfit-nav" id="previous" data-id="{{previousId}}" data-userId="{{userId}}">Previous</button>
      {{else}}
        <p></p>
      {{/if}}
    </div>
    <div class="six columns">
      <h2>{{name}}</h2>
      <ul>
        {{#each clothingItems}}
          <li>{{attributesDisplay}}</li>
        {{/each}}
      </ul>

      <div class="outfit-options">
        <a href="/users/{{userId}}/outfits/{{id}}/edit" class="edit-outfit button">Edit Outfit</a>

        <button type="button" name="button" class="add-item" data-id="{{id}}" data-userId="{{userId}}">Add Clothing Item</button>
      </div>
    </div>
    <div class="three columns">
      {{#if nextId}}
        <button type="button" class="outfit-nav" id="next" data-id="{{nextId}}" data-userId="{{userId}}">Next</button>
      {{else}}
        <p></p>
      {{/if}}
    </div>
  </div>
</script>
