<%= header("your outfits") %>
<%= link_to "New Outfit", new_user_outfit_path(current_user), class: "button-link" %>

<% if @outfits.size > 0 %>
  <% @outfits.in_groups_of(3, false).each do |set| %>
    <div class="row">
      <% set.each do |item| %>
        <%= render partial: 'outfits/outfit', locals: {outfit: item} %>
      <% end %>
    </div>
    <% end %>
<% else %>
  <p>You don't have any outfits yet.</p>
<% end %>
