<% content_for :h2 do %>
  The biggest closet is owned by <%= @user.first_name %> <%= @user.last_name %>!
<% end %>

<p>Who has an astonishing <%= @user.clothing_items.size %> items in their closet.
</p>
