<div class="clothing-item-form">

  <%= form_for clothing_item do |f| %>

    <%= render partial: 'clothing_items/form_fields', locals: {clothing_item: clothing_item, f: f} %><br>

    <%= f.submit %>

  <% end %>

</div>
