/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

* {
 box-sizing: border-box;
}

.section {
 margin: 10px 40px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.navigation {
 background: #c9d7db;
 text-align: right;
 padding-right: 20px;
 color: #222;
}

.navigation h1 {
 float: left;
 margin: 10px;
 font-size: 2em;
}

.navigation a {
 text-decoration: none;
 display: inline-block;
 margin: 3px;
}

.navigation a:hover {
 text-decoration: underline;
 color: #234d6d;
}

.field_with_errors label {
  color: #962a3c;
}
.field_with_errors + select {
  border: #962a3c 1px solid;
}

.field_with_errors input {
  border: #962a3c 1px solid;
}

.div_with_errors p,
.alert-flash {
  display: inline-block;
  color: #962a3c;
  background-color: #e8dadc;
  padding: 5px;
  margin: 3px;
}

.div_with_errors {
  border-left: #962a3c 2px solid;
  padding-left: 3px;
}

.message-flash {
  display: inline-block;
  color: #236844;
  background-color: #b9ccc2;
  padding: 5px;
  margin: 3px;
}

a.button,
.button-link {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  overflow: visible;
  text-transform: none;
  cursor: pointer; /* 3 */
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

}

a.button[disabled] {
  cursor: default;
}

a.button::moz-focus-inner {
  border: 0;
  padding: 0;
}

a.button:hover,
a.button:focus,
.button-link:hover,
.button-link:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
