<% content_for :h2 do %>
  Clothing Categories
<% end %>

<% @categories.in_groups_of(4, false).each do |set| %>
  <div class="row">
    <% set.each do |category| %>
    <div class="category three columns">
      <h3><%= category.name %></h3>
      <p><%= link_to "View #{category.name}", category_path(category) %></p>
    </div>
    <% end %>
  </div>
<% end %>
