<% content_for :h2 do %>
  <%= @category.name %>
<% end %>

<ul>
  <% @category.clothing_items.each do |item| %>
    <li class="clothing-item">
      <%= attributes_display(item) %> |
      <%= link_to "Add to my closet", user_clothing_items_path(item), method: :post %>
    </li>
  <% end %>
</ul>
